*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: sans-serif;
}
.body{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_box{
    width: 85%;
    height: 110vh;
    /* background-image: url("https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg"); */
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200709/pngtree-sky-blue-sky-white-clouds-floating-realistic-clouds-background-image_350954.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather_condition_main_box{
    width: 85%;
    height: 75%;
    display: flex;
    justify-content: space-between;
}
.weather_con_inner_boxes1{
    width: 30%;
    border-radius: 20px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/472/319/small_2x/winter-landscape-illustration-mountain-tree-forest-free-vector.jpg");
    background-image: url("https://static.vecteezy.com/system/resources/previews/013/924/610/non_2x/alps-mountain-range-with-pine-tree-forest-and-river-mountain-valley-landscape-background-free-vector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid white;
}
.weather_con_inner_boxes2{
    width: 30%;
    border-radius: 20px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/143/238/original/christmas-winter-landscape-and-new-year-background-illustration-vector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid white;
}
.weather_con_inner_boxes3{
    width: 30%;
    border-radius: 20px;
    background-image: url("https://img.freepik.com/premium-photo/snowy-landscape-with-pine-trees-foreground_662214-341672.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid white;
}
.san_francisco{
    /* border: 5px solid black; */
    width: 50%;
    margin-left: 10%;
    margin-top: 45%;
}
.san_francisco h1{
    font-size: 2.5rem;
    color: black;
}
.san_francisco h1 sup{
    font-size: 1.3rem;
    color: black;
}
.san_francisco h5{
    font-weight: 400;
    margin-top: 5%;
}
.London{
    /* border: 5px solid black; */
    width: 50%;
    margin-left: 30%;
    margin-top: 150%;
}
.London h1{
    font-size: 2.5rem;
    color: black;
}
.London h1 sup{
    font-size: 1.3rem;
    color: black;
}
.London h5{
    font-weight: 400;
    margin-top: 5%;
}


.Amsterdam{
    /* border: 5px solid black; */
    width: 50%;
    margin-left: 12%;
    margin-top: 25%;
}
.Amsterdam h1{
    font-size: 2.5rem;
    color: black;
}
.Amsterdam h1 sup{
    font-size: 1.3rem;
    color: black;
}
.Amsterdam h5{
    font-weight: 400;
    margin-top: 5%;
}



