*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background_box{
    background-color: rgb(217, 63, 89);
    padding: 0px 50px;
    padding-top: 7%;
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_box{
    width: 45%;
    height: 90vh;
    border-radius: 15px 15px 0px 0px;
    background-color: white;
}
.card_inner_box{
    height: 94%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header{
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header_L{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_R{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}
.header_L_L{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.header_L_R{
    padding-left: 15%;
}
.backg_box{
    width: 100%;
    height: 20%;
    margin-top: 3%;
    border-radius: 15px;
}
.backg_box img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.image_box{
    height:140px;
    width: 140px;
    border: 5px solid rgb(226, 223, 223);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    padding: 2%;
}
.image_box img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.introduction{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 2%;
    padding-left: 5%;
}
.card_inner_box h2{
    margin-top: 22%;
    font-size: 1.3rem;
}
.card_inner_box h2 i{
    color: rgb(108, 127, 202);
}

.card_inner_box p{
    font-size: 0.8rem;
    margin-top: 2%;
    line-height: 20px;
}
.count_box{
    padding: 4%;
    width: 100%;
    display: flex;
}
.rating{
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.followers{
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posts{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rating h3{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: rgb(20, 167, 20);
}
.rating h5{
    font-weight: 400;
    font-size: 0.75rem;
    color: rgb(71, 70, 70);
    padding-top: 2%;
}
.followers h3{
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.followers h5{
    font-weight: 400;
    font-size: 0.75rem;
    color: rgb(71, 70, 70);
    padding-top: 2%;
}
.posts h3{
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.posts h5{
    font-weight: 400;
    font-size: 0.75rem;
    color: rgb(71, 70, 70);
    padding-top: 2%;
}
.subscribe_btn{
    width: 100%;
    border-radius: 10px;
    color: white;
    background-color: rgb(217, 63, 89);
    display: flex;
}
.plus{
    width: 15%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.subscribe{
    width: 85%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_des_box{
    width: 100%;
}
.icon_des_box_single{
    width: 100%;
    display: flex;
}
.icon{
    width: 10%;
    padding: 2% 0%
}
.descriptn{
    width: 90%;
    padding: 2% 0%;
    font-size: 0.9rem;
}

