*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: sans-serif;
}
.body{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_box{
    width: 75%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 235, 235);
}
.second_inner_box{
    padding: 30px;
    width: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://xmple.com/wallpaper/blue-gradient-white-linear-2000x3000-c2-87cefa-ffffff-a-105-f-14.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.heavy_snow_box{
    width: 38%;
    height: 75vh;
    box-shadow: 0px 0px 20px rgb(85, 173, 208);
}
.heavy_snow_box_top{
    height: 65%;
    width: 100%;
    background-image: url("snowfall_day_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heavy_snow_box_bot{
    height: 35%;
    
}
.heavy_snow_box_top1{
    height: 65%;
    width: 100%;
    background-image: url("snowfall_night_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.temp{
    height: 25%;
    width: 100%;
    display: flex;
}
.temps{
    height: 100%;
    width: 14.2%;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    color: rgb(91, 176, 224);
    font-weight: 600;
}
.temps sup{
    margin-bottom: 10px;
}

.image{
    height: 25%;
    width: 100%; 

}
.image img{
    height: 100%;
    width: 100%;
}
.days{
    height: 25%;
    width: 100%;
    display: flex;
}
.singleday{
    width: 14.2%;
    height: 100%;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(91, 176, 224);
    font-weight: 600;
}
.icons{
    height: 25%;
    width: 100%;
    display: flex;
}
.singleicon{
    width: 14.2%;
    height: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(91, 176, 224);
    font-weight: 600;
}
.heavy_snow_box_top_header{
    display: flex;
    justify-content: space-between;
}
.header{
    width: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 0.55rem;
    font-weight: 600;
    color: white;
}
.center_box{
    width: 55%;
    margin-left: 23%;
    margin-top: 10%;
}
.center_box_top{
    width: 100%;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center_box_top h6{
    margin-top: 3%;
}
.center_box_bot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_L{
    width: 50%;
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}
.temp_R{
    width: 50%;
    color: white;
    font-size: 2.5rem;
}
.temp_R sup{
    font-size: 1.3rem;
}