*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer_box{
    padding: 0px 50px;
    padding-top: 50px;
    width: 75%;
    border-radius: 10px;
    /* background-image: url("https://cdn.prod.website-files.com/5a9ee6416e90d20001b20038/64f5ddda9ceaf03cf6d8fbb0_Rectangle%20(77).svg"); */
    background-image: url("https://storage.needpix.com/rsynced_images/gradient-grey.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_box{
    border: 2px solid black;
    background-color: white;
    /* padding: 50px; */
    width: 99%;
    /*  padding-left: 8%; */
}
.heading_box{
    /* border: 1px solid red; */
    border-bottom: 1px solid grey;
    padding: 15px;
    width: 90%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading_L{
    width: 13%;
    /* border: 5px solid green; */
    font-weight: 600;
    font-size: 1.05rem;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
.heading_M{
    width: 40%;
    /* border: 5px solid green; */
}
.heading_M ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 0.6rem;
}
.heading_R{
    width: 20%;
    /* border: 5px solid green; */
}
.heading_R button{
    border: 1px solid black;
    background-color: white;
    padding: 5% 10%;
    font-weight: 700;
}
.main_box{
    width: 100%;
    border: 1px solid red;
    display: flex;
}
.main_box_L{
    width: 45%;
    border: 1px solid blue;
    padding: 50px;
    margin-left: 10%;
    height: 90vh;   
}
.main_box_R{
    width: 45%;
    border: 1px solid violet;
    padding: 50px;
    height: 90vh;
    background-image: url("https://img.freepik.com/premium-photo/elegant-smiling-spanish-professional-female-model-formal-wear-white-shirt_962751-2917.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

